body {
    background-color: grey;
    color: aliceblue;
}

h1 {
     font-style:oblique;
    color: black;
     text-decoration:underline;
     color: black;
     text-align: center;
     margin-top: 100px;

     
}



h2 {
    font-style: oblique;
    color: black;
    text-decoration:underline;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.foto1 {
    width: 400px;
    display:flex;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}

h3 {
    font-style:italic;
    color: black;
    text-decoration: underline;

}

.div {
    font-size: larger;
    font-style:unset;
    color:bisque


}

